$main-color:#F59E0B;
$secondary-color:#D97706 ;
$light-orange: #FDE68A;
$dark:#010101;
$pure-dark:#2e2e2e;
$pure-white: #fff;

$main-color2:#FF8C42;
$secondary-color2:#C45A00  ;
$light-orange2: #FFB347 ;